# Generated exploratory and future staged runs
relax/
scf/
bands/
pdos/
results*/

*.log
*.out
Conquest_out
Conquest_warnings
InfoGlobal*
Kmatrix*
Process*WF.dat
chden.*
coord_next.dat
eigenvalues.dat
fort.*
hilbert_make_blk.dat
trajectory.xsf
ewald_cell_smoke/*.ion
.DS_Store
